# Core functionality - changes here should be rare!
/src/app.py                   @karar-shah
/src/backend/database.py      @karar-shah
/src/backend/routers/auth.py  @karar-shah

# The frontend will need refactored soon to be more object oriented.
/src/static/   @karar-shah
